@import '../variables.css';
@import '../grid.css';

.piece {
	display: block;
	position: absolute;
	width: 80%;
	top: 10%;
	right: 10%;
	bottom: 10%;
	left: 10%;
	border-radius: 50%;
	&:focus {
		outline: 0;
		box-shadow: 0 0 2px 2px yellow;
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 50%;
		box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.65);
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 80%;
		top: 10%;
		right: 10%;
		bottom: 10%;
		left: 10%;
		border-radius: 50%;
	}
	&.player1 {
		background-color: #901a1a;
		border: 1px solid #ab3030;
		&:after {
			background: #8c1010;
			border: 1px solid #ab3030;
			box-shadow: inset 2px 2px 1px 0px rgba(0,0,0,0.55);
		}
	}
	&.player2 {
		background-color: whitesmoke;
		border: 1px solid white;
		&:after {
			background: #f7f1ea;
			border: 1px solid white;
			box-shadow: inset 2px 2px 1px 0px rgba(0,0,0,0.15);
		}
	}
	&.moveable {
		&:hover {
			cursor: pointer;
		}
	}
	&.landing {
		background: none;
		border: 2px dashed $white;
		opacity: 0.6;
		-webkit-animation: rotation 2s infinite linear;
		&:before {
			display: none;
		}
		&:after {
			width: 100%;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: none;
			border: none;
			opacity: 0.5;
		}
		&:hover, &:focus {
			opacity: 1;
			cursor: pointer;
			box-shadow: none;
			&:after {
				background: #000000;
			}
		}
	}
	&.selected {
		transition: left .5s linear;
		transition: top .5s linear;
		transition: width .5s linear;
		transition: height .5s linear;
		outline: 0;
		width: 90%;
		height: 90%;
		top: -5%;
		left: -5%;
	}
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}